/* Styles pour le corps */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    /* Centrage horizontal */
    align-items: center;
    /* Centrage vertical */
    height: 100vh;
    margin: 0;
}

/* Styles pour le conteneur */
.container {
    text-align: center;
}

/* Styles pour le titre */
h1 {
    margin-bottom: 20px;
    /* Espacement entre le titre et les boutons */
}

/* Styles pour les boutons */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    /* Espacement entre les boutons */
}

li:last-child {
    margin-right: 0;
    /* Aucun espacement à droite pour le dernier bouton */
}

li a {
    display: block;
    padding: 10px 20px;
    background-color: rgb(0, 161, 193);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: rgb(0, 123, 148);
}