<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Administrateur</title>
</head>

<body>
    <h1>Connexion Administrateur</h1>
    {% if error_message %}
    <p style="color: red">{{ error_message }}</p>
    {% endif %}
    <form action="/admin_access" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="mdp">Mot de passe:</label>
        <input type="password" id="mdp" name="mdp" required>
        <input type="submit" value="Connexion">
    </form>
</body>

</html>