<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/tableau.css">
    <link rel="stylesheet" href="static/ajouter.css">
    <link rel="stylesheet" href="static/delete.css">
    <title>Dashboard Admin</title>
    <style>
        /* Style pour cacher la colonne des cases à cocher par défaut */
        .hide-checkboxes td.checkbox-column {
            display: none;
        }
    </style>
</head>

<body>
    <h1>Tableau de Bord Admin</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('ajouter_patient') }}">Ajouter un Patient</a></li>
            <li><a href="{{ url_for('ajouter_pro') }}">Inscription Professionnel</a></li>
            <li><a href="{{ url_for('patients') }}">Afficher les patients</a></li>
            <li><a href="{{ url_for('index') }}">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="container">
        <form id="deleteForm" action="{{ url_for('delete_patients') }}" method="post">
            <input type="hidden" id="selectedPatientIds" value="">
            <table class="patient-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Sexe</th>
                        <th>Taille</th>
                        <th>Poids</th>
                        <th></th> <!-- Colonne pour le bouton de suppression -->
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                    <tr>
                        <td>{{ patient.nom }}</td>
                        <td>{{ patient.prenom }}</td>
                        <td>{{ patient.sexe }}</td>
                        <td>{{ patient.taille }}</td>
                        <td>{{ patient.poids }}</td>
                        <td><input type="checkbox" name="patientIds[]" value="{{ patient.id }}"></td>
                        <!-- Case à cocher -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button class="button" type="submit">
                <div class="trash">
                    <div class="top">
                        <div class="paper"></div>
                    </div>
                    <div class="box"></div>
                    <div class="check">
                        <svg viewBox="0 0 8 6">
                            <polyline points="1 3.4 2.71428571 5 7 1"></polyline>
                        </svg>
                    </div>
                </div>
                <span>Delete Item</span>
            </button>
        </form>
    </div>
    <button id="modifyButton">Modifier</button>
    <script>

    </script>
    <script src="static/delete.js"></script>
</body>

</html>