<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un patient</title>
</head>

<body>
    <h1>Ajouter un patient</h1>
    <form action="/ajouter_patient" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required><br><br>

        <label for="taille">Taille (en cm) :</label>
        <input type="number" id="taille" name="taille" required><br><br>

        <label for="poids">Poids (en kg) :</label>
        <input type="number" id="poids" name="poids" required><br><br>

        <input type="submit" value="Ajouter">
    </form>
</body>

</html>