<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Professionnel</title>
    <link rel="stylesheet" href="static/ajouter.css">
</head>

<body>
    <header>
        <h1>Ajouter un Professionnel</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/dashboard_admin">Accueil</a></li>
            <li><a href="/ajouter_pro">Ajouter un Pro</a></li>
            <li><a href="/ajouter_patient">Ajouter un Patient</a></li>
        </ul>
    </nav>
    <div class="container">
        <section class="content">
            <h2>Formulaire d'ajout de professionnel</h2>
            <!-- Message d'erreur en cas d'échec -->
            {% if error_message %}
            <p style="color: red">{{ error_message }}</p>
            {% endif %}

            {% if success_message %}
            <p style="color: green">{{ success_message }}</p>
            {% endif %}
            <form action="/ajouter_pro" method="post">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="password">Mot de passe:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Ajouter">
            </form>
        </section>
    </div>
</body>

</html>