<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiche Patient</title>
    <link rel="stylesheet" href="static/ajouter.css">
</head>

<body>
    <div class="container">
        <section class="content">
            <!-- Affichage des informations du patient -->
            <h1>Fiche Patient</h1>
            <p><strong>Nom:</strong> {{ patient.nom }}</p>
            <p><strong>Prénom:</strong> {{ patient.prenom }}</p>
            <p><strong>Sexe:</strong> {{ patient.sexe }}</p>
            <p><strong>Taille:</strong> {{ patient.taille }} cm</p>
            <p><strong>Poids:</strong> {{ patient.poids }} kg</p>
            <!-- Ajoutez d'autres informations du patient si nécessaire -->
        </section>
        <a href="/dashboard">Retour au scanner</a>
    </div>
    <!-- Lien pour revenir au tableau de bord -->
</body>

</html>